/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image: url("Login.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-color: white;
}

#border{
    -fx-border-color: white;
}

#startTitle{
    -fx-text-fill: white; /* Bright pink center */
     -fx-effect: dropshadow(gaussian, #E03FD8, 15, 0.5, 0, 0);
     -fx-font-size: 35px;
     -fx-font-weight: bold;
     -fx-font-family: "Ink Free";
}

.button-default {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.button-pressed {
    -fx-background-color: #e0e0e0; /* slightly darker */
    -fx-text-fill: black;
    -fx-border-color: #999999;
    -fx-border-width: 1px;
    -fx-alignment: center;
}

#submit{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-text-fill: #000080;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 8 16 8 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 128, 0.6), 6, 0.3, 0, 3);
}

#submit:hover {
  -fx-background-color: linear-gradient(to bottom, #00ffff, #00bbbb);
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}

